.title-1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  color: var(--black);

  @include tablet {
    font-size: 64px;
  }

  @include mobile {
    font-size: 32px;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: var(--black);

  @include tablet {
    font-size: 38px;
  }

  @include mobile {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
  }
}

.title-3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--black);
}

// -------  subtitles ... -----------
.subtitle-1 {
  font-weight: 500;
  font-size: 24px;
  color: var(--black);

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    font-size: 18px;
  }
}

.subtitle-2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);

  @include mobile {
    font-size: 16px;
  }
}

//  -------   text ...   -----------
.text-1 {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-dark);

  @include mobile {
  }
}
