.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  padding: 17px 20px;
  height: 61px;
  width: fit-content;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 100px;
  transition: all 0.2s ease-in;

  svg {
    stroke: currentColor;
  }

  &:hover {
    color: var(--white);
    background-color: var(--gray-dark);
  }

  &:active {
    background-color: var(--black);
  }

  &--dark {
    color: var(--white);
    background-color: var(--black);

    &:hover {
      background-color: var(--gray-lite);
    }

    &:active {
      color: var(--black);
      background-color: var(--white);
    }
  }

  @include tablet {
    padding: 16px;
  }

  @include mobile {
    padding: 14px;
    height: 50px;
    font-size: 16px;
  }
}
