.feature {
  padding: 80px 0;
  background: var(--cream-lite);

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
    background: var(--gray-lite);
  }

  &__top-row {
    margin-bottom: 52px;

    @include mobile {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      text-align: center;
    }
  }

  &__title {
    grid-column: 1 / 8;

    @include mobile {
      grid-column: 1 / -1;
    }
  }

  &__subtitle {
    grid-column: 8 / -1;

    @include mobile {
      grid-column: 1 / -1;
    }
  }

  &__cards {
    align-items: self-start;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: stretch;

      max-width: 500px;
      margin: 0 auto;
    }
  }
}
