.header {
  margin-top: 40px;

  &__row {
    border-radius: 60px;
    padding: 24px 40px;
    height: 89px;
    background: var(--cream-lite);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mobile-btn {
    display: none;
    z-index: 100;
  }

  @include mobile {
    margin-top: 20px;

    &__row {
      padding: 20px;
      height: 66px;
    }

    &__mobile-btn {
      display: block;
    }
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;

  @include tablet {
    gap: 28px;
  }

  @include mobile {
    display: none;
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--link-color);
    }

    @include tablet {
      font-size: 18px;
    }
  }

  &__btn {
    &:hover {
      color: var(--link-color);
      border-color: var(--link-color);
      box-shadow: 2px 2px 14px rgb(109, 205, 243);
    }
  }
}
