.header {
  margin-top: 40px;

  @include mobile {
    margin-top: 20px;
  }

  &__row {
    border-radius: 60px;
    padding: 24px 40px;
    background: var(--cream-lite);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding: 22px;
    }

    @include mobile {
      padding: 20px;
    }
  }

  &__mobile-btn {
    display: none;
    z-index: 100;

    @include mobile {
      display: block;
    }
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;

  @include tablet {
    gap: 28px;
  }

  @include mobile {
    display: none;
  }

  &__link {
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
    transition: color 0.2s ease-in;

    &:hover {
      color: var(--link-color);
    }

    @include tablet {
      font-size: 18px;
    }
  }

  &__btn {
    width: 124px;
    height: 41px;
    padding: 8px 10px;
  }
}
