.hero {
  padding: 80px 0;

  @include tablet {
    padding: 40px 0;
  }

  @include mobile {
    padding: 20px 0;
  }

  &__grid {
    grid-row-gap: 40px;

    @include mobile {
      grid-row-gap: 20px;
    }
  }

  &__title {
    grid-column: 8 span;

    @include mobile {
      grid-column: 12 span;
      text-align: center;
    }
  }

  &__desc {
    grid-column: 4 span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @include mobile {
      grid-column: 12 span;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
  }

  &__desr-text {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: var(--gray-dark);

    @include tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 18px;
      text-align: center;
    }
  }

  &__link {
    border-radius: 100px;
    padding: 17px;
    width: 204px;
    height: 61px;
    color: var(--white);
    background: var(--black);

    @include tablet {
      height: 50px;
    }

    @include mobile {
      width: unset;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__picture {
    grid-column: 12 span;
    border-radius: 40px;
    overflow: hidden;

    img {
      min-height: 280px;
      object-fit: cover;
      object-position: right;
    }

    @include tablet {
      border-radius: 30px;
    }

    @include mobile {
      border-radius: 20px;
    }
  }
}
