.mission {
  padding: 120px 0;

  @include tablet {
    padding: 80px 0;
  }

  @include mobile {
    padding: 40px 0;
  }

  &__grid {
    @include mobile {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 20px;
    }
  }

  &__info {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @include mobile {
      gap: 12px;
      align-items: center;
      text-align: center;
    }
  }

  &__btn {
    @include mobile {
      margin-top: 8px;
    }
  }

  &__picture {
    grid-column: span 5 / -1;
    border-radius: 16px;
    overflow: hidden;

    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    &--center img {
      object-position: center;
    }

    @include tablet {
      grid-column: 7 / -1;
    }

    @include mobile {
      img {
        height: clamp(17.5rem, 7.857rem + 34.29vw, 25rem);
        object-position: 20% center;
      }
    }
  }

  &--reverse {
    .mission__grid {
      flex-direction: column;
    }

    .mission__picture {
      grid-column: span 5;
      order: -1;

      @include tablet {
        grid-column: span 6;
      }
    }

    .mission__info {
      grid-column: span 6 / -1;
    }
  }
}
