.mobile-nav {
  --top-shift: 80px;
  position: fixed;
  top: -100%;
  width: 100%;
  height: calc(100% - var(--top-shift));
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--cream-lite);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: var(--top-shift);
}

.mobile-nav a {
  color: var(--gray-dark);
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--link-color);
  }
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  font-size: 28px;

  & .active {
    opacity: 0.5;
  }
}
