.offers {
  padding: 80px 0;
  background: var(--cream-lite);

  &__header {
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__title {
    max-width: 610px;
  }

  &__controls {
    display: flex;
    gap: 10px;
  }

  &__btn {
  }

  &__cards {
    padding: 10px;
    margin: -10px;

    display: flex;
    gap: 24px;

    overflow-y: auto;
  }
}

.offer-card {
  flex-shrink: 0;
}
