.offer-card {
  display: inline-block;
  border-radius: 16px;
  padding: 20px;
  // width: 700px;
  background: var(--white);
  box-shadow: 0 0 10px 4px rgba(128, 128, 128, 0.2);

  @include mobile {
    width: unset;
  }

  &__media {
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 16px;
    overflow: hidden;

    img {
      min-height: 260px;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  &__info {
    max-width: 495px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    @include mobile {
      align-items: center;
    }
  }

  &__badge {
    display: inline-block;
    border-radius: 27px;
    padding: 8px 12px;
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
    background: var(--cream);
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-dark);

    @include mobile {
      font-weight: 500;
      text-align: center;
    }
  }

  &__price {
    // display: flex;
    // flex-direction: column;
  }

  &__price-descr {
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-dark);

    @include mobile {
      margin-bottom: 4px;
      font-weight: 500;
      text-align: center;
    }
  }

  &__price-value {
    font-weight: 700;
    font-size: 40px;
    color: #2b2b2b;

    @include mobile {
      font-size: 32px;
      line-height: 110%;
    }
  }
}
