<div class="swiper-slide">
  <article class="offer-card">
    <div class="offer-card__media">
      <img
        src="./../../img/offer/@@img.jpg"
        width="660"
        height="409"
        loading="lazy"
        alt="Dessert"
      />
    </div>
    <!-- body -->
    <div class="offer-card__body">
      <div class="offer-card__info">
        <span class="offer-card__badge">@@seazon</span>
        <h3 class="offer-card__title subtitle-1">@@title</h3>
        <p class="offer-card__descr">@@descr</p>
      </div>

      <div class="offer-card__price">
        <div class="offer-card__price-descr">Starts from</div>
        <div class="offer-card__price-value">$@@price</div>
      </div>
    </div>
  </article>
</div>
