<div class="swiper-slide">
  <article class="card-review">
    <h3 class="visually-hidden">@@name's testimonial</h3>
    <div class="card-review__message text-1">
      <p>@@message</p>
    </div>

    <div class="card-review__profile">
      <div class="card-review__image">
        <img src="./../../img/profiles/@@photo.jpg" alt="Profile photo" />
      </div>
      <div class="card-review__about">
        <p class="text-1">@@name</p>
        <p class="text-2">@@location</p>
      </div>
    </div>
  </article>
</div>
